h1 {
    font-family : Century Gothic ;
    text-align: center;
}

body 
{
    background-color: #fff0f2;
    font-family : Century Gothic;
}

.container-flex {
  display: flex;       
  gap: 40px;           
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
}


.card {
  flex: 1;             
  border: 4px solid #c06c84 ;
  padding-top: 350px;
  padding-bottom: 5px;
  padding-left:15px;
  padding-right: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
}


a:hover {
    color: #afb779 ;
    font-weight: bold;
}



.liens-accueil {
    color: #c06c84;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}



@media (max-width: 768px) {
   .container-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-flex div {
        width: 85%;  
    }

    h1{
    font-size : 24px;
    }

    h2{
        font-size : 20px;
    }

    .liens-accueil {
        font-size: 22px;
    }

}
