h1 {
    font-family : Century Gothic ;
    text-align: center;
}

body 
{
    background-color: #ffe1e5;
    font-family : Helvetica;
}

.container-flex {
  display: flex;       
  gap: 20px;           
  margin-bottom: 35px;
  margin-top: 35px;
}


.card {
  flex: 1;             
  border: 1px solid  #333d29;
  padding: 150px;
}
