/* Partie asmin_espace*/

.body {
    font-family: Century Gothic;
}

.police {
    font-family: Century Gothic;
    margin-left: 20px;
}

.sous-nav {
    text-align: center;
    border-top: 2px solid #afb779;
    margin-top: 5px;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    color: #afb779; 
    text-decoration: none;
    font-size: 20px;
    font-family : Century Gothic ;
}

.navbar a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.contour {
    font-family: Century Gothic;
    padding: 20px;
    margin: 40px auto;
    background-color: white;
    border-radius: 20px;
    width: 75%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.profil {
    display: flex;
    width: 250px;
    height: 250px;
}

.ligne{
    display: flex;
    gap: 60px;
}

.bloc{
    flex: 2;
    padding: 20px;
}

/* Pour que ce soit sur la même ligne */
.no-wrap {
    white-space: nowrap; 
}

.button {
    display: flex;
    background-color: #afb779;
    color: black;
    border-radius: 20px;
}

.modifier{
    display: inline-block;
    padding: 6px 14px;
    background-color: #c1c2bf;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

/*partie listes*/

.liste {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.bloc-liste {
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    font-family: Century Gothic;
}

.bloc-liste img {
    width: 250px;
    height: auto;
    margin: 40px;
}

.bloc-liste p {
    margin-left: 20px;
    font-size: 15px;
    padding: 18px;
}

.ajouter{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #afb779;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    width: 325px;
    font-family: Century Gothic;
}

/*Responsive*/
@media (max-width: 768px){
    .nav {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .navbar a {
        color: #afb779; 
        text-decoration: none;
        font-size: 12px;
        font-family : Century Gothic ;
    }

    .ligne{
        display: block;
        justify-content: center;
    }

    .liste{
        display: flex;
        flex-direction: column;
        align-items: center; /* centre les blocs horizontalement */
        gap: 20px;
    }

    .bloc-liste {
        justify-content: center;
        gap: 20px;
        background-color: white;
        border-radius: 20px;
        width: 85%;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        font-family: Century Gothic;
    }

    .bloc-liste img {
        width: 85%;
        height: auto;
        display: block;
        margin: 20px auto; /* centre l'image */
    }
}