{% extends 'layout.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <main>
        <form class="form-box" method="post" action="index.php?page=validationConnexion&connect=oui">
            <h2>Content de vous revoir !</h2>
            <label>Identifiant</label>
            <input type="text" name="id" required>

            <label>Mot de passe</label>
            <input type="password" name="mdp" minlenght="8" required>
            <br>
            <br>
            <button class="modifier">Connexion</button>
        </form>
    </main>
{% endblock %}