{% extends 'layout.twig' %}

{% block title %}A propos de nous{% endblock %}


{% block body %}

<main>
    <h1>À propos de nous</h1>

    <p class="p-p">
        Notre site est une plateforme web dédiée à la recherche et à la gestion des stages. Il centralise les offres proposées par les entreprises et facilite la mise en relation avec les étudiants. Conçu pour offrir une navigation simple et efficace, il permet à chaque utilisateur d’accéder aux fonctionnalités adaptées à son rôle. Cette solution moderne vise à simplifier le processus de recherche de stage tout en garantissant une expérience claire, structurée et professionnelle.
    </p>

    <div class="image-placeholder"></div>
</main>

{% endblock %}