{% extends 'layout.twig' %}
{% block title %}accueil{% endblock %}


{% block body %}

<br>
        <h1>Fleurissez votre avenir avec Bloomly</h1>
        <hr color=#c06c84 size="2" width="95%" >

<div class="container-flex">
  <div class="card">
    <img src="http://bloomly-static.local/assets/accueil1.png" alt="Illustration page d'accueil" class="img-acc1">
    <h2>77% des étudiants ont trouvé un stage</h2>
  </div>
  <div class="card">
    <h2>Nos Statistiques</h2>
  </div>
  <div class="card">
    <img src="http://bloomly-static.local/assets/accueil2.png" alt="Illustration page d'accueil" class="img-acc2">
    <h2>Plus de 250 entreprises partenaires</h2>
  </div>
</div>
<br>

{% endblock %}


