{% extends 'layout.twig' %}

{% block title %}Candidature à une offre{% endblock %}


{% block body %}
{{ message | raw}}
    <h1 class="titre">Alternance en cybersécurité - Septembre 2026</h1>
    <h2 class="sous-titre">Entreprise : SecureFlow Systems</h2>

    <div class="categ">
        <form method="POST" enctype="multipart/form-data">
            <label for="Lettre">Lettre de motivation :</label>
            <br>
            <textarea id="Lettre" name="Lettre" placeholder="Pourquoi vous ? Décrivez-vous..." required></textarea>
            <br>

            <label for="cv">Insérer votre CV (2Mo max)</label>
            <br>
            <input type="file" id="cv" class="CV" name="cv" accept=".pdf" required />
            <br>

            <input type="submit" class="envoie" value="Je valide ma candidature">
        </form>
    </div>
{% endblock %}