{% extends 'layout.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
        <div class="form-box">
            <h2>Content de vous revoir !</h2>
            <label>Identifiant</label>
            <input type="text">

            <label>Mot de passe</label>
            <input type="password">

            <input type="checkbox" id="interrupteur">
            <label for="interrupteur" class="burger"><button class="btn-dark large">Connexion</button></label>
        </div>

        <div class="image-box">

        </div>
{% endblock %}