{% extends 'layout.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <main>
        <form class="form-box" method="post">
            <h2>Content de vous revoir !</h2>
            <label>Identifiant</label>
            <input type="text">

            <label>Mot de passe</label>
            <input type="password">
            <br>
            <br>
            <a class="modifier" href="index.php?page=validationConnexion&connect=1">Connexion</a>
        </form>
    </main>
{% endblock %}