{% extends 'layout.twig' %}

{% block title %}A propos de nous{% endblock %}


{% block body %}

<main>
    <h1>Cookies</h1>

    <p class="p-p">
        Ce site utilise des cookies afin d’améliorer votre expérience utilisateur.
    </p>

    <div class="image-placeholder"></div>
</main>


{% endblock %}