{% extends 'layout.twig' %}
{% block title %}inscription{% endblock %}


{% block body %}


{#{% if section == 'etudiants' or section == 'pilots' %} #}
    <div class="form-box">
        <h2>Créer un compte !</h2><br>
        <p> Entrez les informations, nous vous confirmerons la création du compte par email.</p>

        <form method="POST" enctype="mutipart/form-data">
            <div style="display:inline-block;"> <!-- Pour mettre les bloc à côté de l'image -->

                <div class="ligne">

                    <div class="bloc">
                        <label for ="nom">Nom</label>
                        <input type = "text" name="nom" required>
                    </div>

                    <div class="bloc">
                        <label for="prénom">Prénom</label>
                        <input type = "text" name="prénom" required>
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc">
                        <label class="no-wrap" for="num">Numéro de téléphone</label>
                        <input type = "text" name="num">
                    </div>

                    {% if section == 'etudiants' or section == 'pilots' %}
                    <div class="bloc">
                        <label for="age">Âge</label>
                        <input id="age" name="age" type="number" min="0" max="120" step="1" />
                    </div>
                    {% endif %}
                </div>

                <div class="ligne">
                    <div class="bloc2">
                        <label>Adresse email</label>
                        <input type="text" name="email" required>
                        <br><br>
                    </div>
                </div>
                
        {% if section == 'etudiants' %}


            <p >Recherche</p><br>
            <label class="ecart">
                <input type="checkbox"> Stage 
            </label>
            
            <label class="ecart">
                <input type="checkbox"> Alternance 
            </label>

        {% endif %}

                <div class="ligne">
                    <div class="bloc2">
                        <label>Mot de passe</label>
                        <input type="password" minlength="8" required>
                        <br><br>
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc2">
                        <label>Confirmer le mot de passe</label>
                        <input type="password" minlength="8" required>
                        <br><br>
                    </div>
                </div>

        <button class="btn-dark large">Inscription</button>
        </div>
    </form>
</div>
</div>



{% endblock %}

