<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Site stage, Recherche stage, Stage, Alternance, Meilleur site de recherche de stage, Etudiants, Entreprise">

        <link rel="stylesheet" href="http://bloomly-static.local/css/style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/ambre_style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/chloe_style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/abdellah_style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/salma.css">
        

        <title>{% block title %}{{ title }}{% endblock %}</title>

    </head>
    <body>
       <header class="mon-header">

            <div class="header-left">
                <div class="search-bar">
                    <span class="icon">🔍</span>
                    <input type="text" placeholder="Rechercher ">
                </div>
            </div>

            <div class="header-center">
                <img src="http://bloomly-static.local/assets/logo_bloomly.png" alt="Logo Bloomly" >
            </div>
            
            <div class="header-right">
                <nav>
                    {% if connect %}
                        <a class = "mon-espaced" href="index.php?page=accueil&connect=non">Se déconnecter</a>
                        <a class = "mon-espace" href="index.php?page=mon_espace&connect=oui">Mon espace</a>
                    {% else %}
                        <a class = "mon-espaced" href="index.php?page=inscription&connect=non">S'inscrire</a>
                        <a class = "mon-espace" href="index.php?page=connexion&connect=non">Se connecter</a>
                    {% endif %}
                </nav>
            </div>

        </header>

        {% block body %} {% endblock %}
        </body>

    <footer class="mon-footer">

            <div class="mon-footer-left">
                <a href="https://instagram.com" target="_blank">
                    <img src="http://bloomly-static.local/assets/instagram.png" alt="Instagram"></a>

                <a href="https://twitter.com" target="_blank">
                    <img src="http://bloomly-static.local/assets/twitter.png" alt="Twitter"></a>

                <a href="https://linkedin.com" target="_blank">
                    <img src="http://bloomly-static.local/assets/linkedin.png" alt="LinkedIn"></a>
            </div>
            
            <div class="mon-footer-center">
                <p>© 2026 Bloomly - Tous droits réservés.</p>
                <nav>
                    <a href="index.php?page=a_propos">A propos de nous</a>
                    <a href="index.php?page=mentions_legales">Mentions légales</a>
                    <a href="index.php?page=cookies">Cookies</a>
                </nav>
            </div>

            <div class="mon-footer-right">
                    <img src="http://bloomly-static.local/assets/mini_logo_bloomly.png" alt="Logo Bloomly" class="logo">
            </div>         

    </footer>
</html>