<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://bloomly-static.local/css/style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/chloe_style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/ambre_style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/abdellah_style.css">
        <link rel="stylesheet" href="http://bloomly-static.local/css/salma.css">
        

        <title>{% block title %}{{ title }}{% endblock %}</title>

    </head>
    <body>
       <header class="mon-header">

            <div class="header-left">
                <div class="search-bar">
                    <span class="icon">🔍</span>
                    <input type="text" placeholder="Rechercher ">
                </div>
            </div>

            <div class="header-center">
                <img src="http://bloomly-static.local/assets/logo_bloomly.png" alt="Logo Bloomly" >
            </div>
            
            <div class="header-right">
                <nav>
                    <a class="mon-espaced"href="http://bloomly-site.local/page_de_inscr.html">S'inscrire</a>
                    <a class="mon-espace" href="http://bloomly-site.local/page_de_cnx.html">Se connecter</a>
                </nav>
            </div>

        </header>

        {% block body %} {% endblock %}
        </body>

    <footer class="mon-footer">

            <div class="mon-footer-left">
                <a href="https://instagram.com" target="_blank">
                    <img src="http://bloomly-static.local/assets/instagram.png" alt="Instagram"></a>

                <a href="https://twitter.com" target="_blank">
                    <img src="http://bloomly-static.local/assets/twitter.png" alt="Twitter"></a>

                <a href="https://linkedin.com" target="_blank">
                    <img src="http://bloomly-static.local/assets/linkedin.png" alt="LinkedIn"></a>
            </div>
            
            <div class="mon-footer-center">
                <p>© 2026 Bloomly - Tous droits réservés.</p>
                <nav>
                    <a href="http://bloomly-site.local/a-propos.html">A propos de nous</a>
                    <a href="http://bloomly-site.local/mentions-legales.html">Mentions légales</a>
                    <a href="http://bloomly-site.local/cookies.html">Cookies</a>
                </nav>
            </div>

            <div class="mon-footer-right">
                    <img src="http://bloomly-static.local/assets/mini_logo_bloomly.png" alt="Logo Bloomly" class="logo">
            </div>         

    </footer>
</html>