{% extends 'layout.twig' %}

{% block title %}Mentions Légales{% endblock %}


{% block body %}

<main>
    <h1>Mentions légales - Bloomly</h1>
    <p>Les informations suivantes sont fournies en vertu des articles 6, 19 et 20 de la loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique.</p>
    <br>
    <div class="sous-nav"></div>
    <br> 
    
        <h3>Editeur du site</h3>
        <br>
        SIREN : 802 445 113<br>
        Numéro TVA : FR 42 802 445 113<br>
        Siège social : 15 Rue des Francs-Bourgeois – 67000 Strasbourg – France<br>
        Numéro R.C.S : 802 445 113 R.C.S. Strasbourg<br>
        Capital social : 15 000,00 €<br>
        Téléphone : 03 88 10 20 30<br>
        Contact : Vous pouvez nous contacter par email <a href="mailto:contact@bloomly.fr">contact@bloomly.fr</a><br>
        Nom du site : Bloomly<br>
    
    <br>
     <h3>Hébergeur du site :</h3>
     <br>
    <p>
        La société NBS System – NBS, société par actions simplifiée unipersonnelle<br>
        SIREN : 423 410 901<br>
        Numéro TVA : FR 614 234 109 01<br>
        Siège social : 20 RUE ALBERT EINSTEIN 77420 CHAMPS-SUR-MARNE<br>
        Numéro RCS : 423 410 901 R.C.S. Meaux<br>
        Capital social : 203 905,00 €<br>
    </p>
 <br>
    <h3>Informatique et Libertés (RGPD) :</h3>
    <br>
    <p>
        En conformité avec le Règlement Général sur la Protection des Données (RGPD) et la loi du 06/01/1978, l'utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent.<br>
        Pour exercer ce droit auprès de Bloomly, vous pouvez nous contacter :<br>
        Par courrier : Bloomly – 15 Rue des Francs-Bourgeois – 67000 Strasbourg – France<br>
        Par email : <a href="mailto:contact@bloomly.fr">contact@bloomly.fr</a><br>
        Témoins de connexion (Cookies) : Voir notre Charte sur les cookies <a href = "">ici.</a><br>
        Données personnelles : Voir notre Charte des données personnelles <a href = "">ici.</a><br>
    </p>
  
    <br>
    <h3>Droits de propriété intellectuelle attachés au Site :</h3>
    <br>
    <p>
        Le présent Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la propriété intellectuelle.
        <br>
        Le Site et l’ensemble des éléments qui le composent (tels que les marques, logos, photographies, textes, slogans, dessins, images, séquences animées et sonores ou non ainsi que toutes œuvres de l’esprit intégrées dans le Site) sont la propriété exclusive de la société Bloomly ou des tiers ayant autorisé la société Bloomly à les utiliser.
        <br>
        Ces éléments sont protégés par le droit national et international de la propriété intellectuelle. La reproduction de tous documents publiés sur le Site est seulement autorisée aux fins exclusives d’information pour un usage strictement personnel et privé. Toute reproduction et/ou représentation, intégrale ou partielle, du Site ou de l’un quelconque des éléments qui le composent, sur quelque support et par quelque moyen que ce soit, à d’autres fins, est soumise à autorisation expresse, écrite et préalable du directeur de la rédaction du présent Site.
        <br>
        Le fait pour Bloomly de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.
        <br>
    </p>
</main>

{% endblock %}